section.card {
  width: 90%;
  margin: 0 auto;
  padding: var(--default-padding);
  font-size: 1.2rem;
}

ul#dict-definitions > li {
  list-style-type: none;
}

ul#dict-definitions > li::before {
  margin-right: 15px;
  content: '⚘';
}