header {
  background-color: rgba(66, 48, 33, 0.65);
  padding: var(--default-padding);
}

header h1 {
  font-family: var(--body-font);
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  text-shadow: 2px 2px 0px var(--off-black), 
      -1px -1px 0px var(--off-black);
}